{{set . "title" "Buku"}}
{{template "header.html" .}}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-primary">
                        <div class="panel-heading">Registrasi Buku</div>
                        <div class="panel-body">
                            <form class="form-horizontal" method="POST" action="{{url "Buku.Simpan"}}">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Kode Buku</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="kdbuku" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label class="control-label col-sm-2">Judul</label>
                                        <div class="col-sm-4">
                                            <input type="text" name="judul" class="form-control">
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label class="control-label col-sm-2">Pengarang</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="pengarang" class="form-control">
                                        </div>
                                </div>
                                <div class="form-group">
                                       <div class="col-sm-2 col-sm-offset-2">
                                           <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span></span> Simpan</button>
                                       </div>
                                </div>
                            </form>
                        </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-warning">
                <div class="panel panel-heading">List Buku</div>
                <div class="panel panel-body">
                        <table class="table table-condensed">
                                <thead>
                                  <tr>
                                    <th>Kode Buku</th>
                                    <th>Judul Buku</th>
                                    <th>Pengarang</th>
                                    <th>Aksi</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {{range $b := .buku}}
                                    <tr>
                                        <td>{{$b.KdBuku}}</td>
                                        <td>{{$b.Judul}}</td>
                                        <td>{{$b.Pengarang}}</td>
                                        <td>
                                            <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span></span></a>
                                            <a href="{{url "Buku.Show" $b.Id}}" class="btn btn-warning"><span class="glyphicon glyphicon-eye-open"></span></span></a>
                                            <a href="{{url "Buku.Hapus" $b.Id}}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></span></a>
                                        </td>
                                    </tr>
                                  {{end}}
                                </tbody>
                              </table>
                </div>
            </div>
        </div>
    </div>

{{template "footer.html" .}}